CharLib/CharClient/Connected Services/ServiceReference1/CharacterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/CharacterService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CharLib" />
  <xs:element name="GetChar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CharLib" minOccurs="0" name="GetCharResult" nillable="true" type="q1:Character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PopulateListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfCharacters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfCharactersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CharLib" minOccurs="0" name="ListOfCharactersResult" nillable="true" type="q2:ArrayOfCharacter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>